@model IEnumerable<MvcApplication4.Expense.ExpenseReport>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RelocateeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeriodBeginDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeriodEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeopleCovered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportStatusID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentMethodID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentMethodVerifiedID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HowSentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RejectReason)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RelocateeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeriodBeginDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeriodEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReportDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeopleCovered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReportStatusID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentMethodID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentMethodVerifiedID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HowSentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RejectReason)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ExpenseReportID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ExpenseReportID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ExpenseReportID })
        </td>
    </tr>
}

</table>
